<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814136772684-8bgo4g20f9q1p4g532kvqhj7lt497v7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814136772684-8bgo4g20f9q1p4g532kvqhj7lt497v7e</string>
	<key>API_KEY</key>
	<string>AIzaSyBssRFLkWtt_b5F_lu2fkpwdzMB0SfVtw8</string>
	<key>GCM_SENDER_ID</key>
	<string>814136772684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samstuff.GoingOutApp</string>
	<key>PROJECT_ID</key>
	<string>goingoutapp-c90b1</string>
	<key>STORAGE_BUCKET</key>
	<string>goingoutapp-c90b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814136772684:ios:17f79b8c606b00f71b8ce9</string>
</dict>
</plist>